# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.xcuserstate
#忽略.DS_Store文件
.DS_Store
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
